<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QuCircuit -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qucircuit.presentation.QucircuitModelWizardID"
            name="%_UI_QucircuitModelWizard_label"
            class="qucircuit.presentation.QucircuitModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QucircuitModelFile.gif">
         <description>%_UI_QucircuitModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QuCircuit -->
      <editor
            id="qucircuit.presentation.QucircuitEditorID"
            name="%_UI_QucircuitEditor_label"
            icon="icons/full/obj16/QucircuitModelFile.gif"
            extensions="qucircuit"
            class="qucircuit.presentation.QucircuitEditor"
            contributorClass="qucircuit.presentation.QucircuitActionBarContributor">
      </editor>
   </extension>

</plugin>
