<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ElementaryQuantumGate"
         name="Elementary Quantum Gate"
         point="quantum.operation">
      <ElementaryQuantumGate
            Name="Hadamard"
            class="quantum.operation.contribution.elementaryquantumgate.Hadamard">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="RZ"
            class="quantum.operation.contribution.elementaryquantumgate.RZ">
      </ElementaryQuantumGate>
       <ElementaryQuantumGate
            Name="CNOT"
            class="quantum.operation.contribution.elementaryquantumgate.CNOT">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="PauliX"
            class="quantum.operation.contribution.elementaryquantumgate.PauliX">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="PauliZ"
            class="quantum.operation.contribution.elementaryquantumgate.PauliZ">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="Swap"
            class="quantum.operation.contribution.elementaryquantumgate.Swap">
      </ElementaryQuantumGate>
   </extension>
   <extension
         id="CompositeQuantumGates"
         point="quantum.operation">
      <CompositeBlock
            Name="Oracle"
            class="quantum.operation.contribution.compositequantumgate.Oracle">
      </CompositeBlock>
      <CompositeBlock
            Name="Amplification"
            class="quantum.operation.contribution.compositequantumgate.Amplification">
      </CompositeBlock>
      <CompositeBlock
            Name="Initialize"
            class="quantum.operation.contribution.compositequantumgate.Initialize">
      </CompositeBlock>
      <CompositeBlock
            Name="Grover"
            class="quantum.operation.contribution.compositequantumgate.Grover">
      </CompositeBlock>
      <CompositeBlock
            Name="QFTElement"
            class="quantum.operation.contribution.compositequantumgate.QFTElement">
      </CompositeBlock>
      <CompositeBlock
            Name="MixerUnitaryQAOA"
            class="quantum.operation.contribution.compositequantumgate.MixerUnitaryQAOA">
      </CompositeBlock>
      <CompositeBlock
            Name="CostUnitary"
            class="quantum.operation.contribution.compositequantumgate.CostUnitary">
      </CompositeBlock>
      <CompositeBlock
            Name="QFT"
            class="quantum.operation.contribution.compositequantumgate.QFT">
      </CompositeBlock>
   </extension>
   <extension
         id="StatePreparationQuantumGates"
         point="quantum.operation">
      <StatePreparation
            Name="Reset"
            class="quantum.operation.contribution.statepreparation.Reset"></StatePreparation>
   </extension>
   <extension
         id="MeasurementQuantumGates"
         point="quantum.operation">
      <Measurement
            Name="MeasurementCompBasis"
            class="quantum.operation.contribution.measurement.MeasurementCompBasis">
      </Measurement>
   </extension>
   <extension
         point="quantum.operation">
      <LoopOperation
            Name="StaticLoop"
            class="quantum.operation.contribution.loops.StaticLoop">
      </LoopOperation>
      <LoopOperation
            Name="Power2Loop"
            class="quantum.operation.contribution.loops.Power2Loop">
      </LoopOperation>
      <LoopOperation
            Name="GeneralLoop"
            class="quantum.operation.contribution.loops.GeneralLoop"></LoopOperation>
   </extension>
</plugin>
