<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="Composition-based-Circuit"
               label="Composition-based Circuit">
            <command
                  commandId="at.jku.se.quantum.circuit.qiskit.generate"
                  id="GenerateQiskitCode"
                  label="Generate Qiskit Code"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.qucircuit">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.jku.se.quantum.circuit.qiskit.generate"
            name="Generate Qiskit Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="quantum.circuit.qiskit.menu.QuantumCircuitDesignerMenu"
            commandId="at.jku.se.quantum.circuit.qiskit.generate">
      </handler>
   </extension>

</plugin>
