<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ElementaryQuantumGate"
         name="Elementary Quantum Gate"
         point="at.jku.se.quantum.operation">
      <ElementaryQuantumGate
            Name="Hadamard"
            class="at.jku.se.quantum.operation.contribution.elementaryquantumgate.Hadamard">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="PauliX"
            class="at.jku.se.quantum.operation.contribution.elementaryquantumgate.PauliX">
      </ElementaryQuantumGate>
      <ElementaryQuantumGate
            Name="PauliZ"
            class="at.jku.se.quantum.operation.contribution.elementaryquantumgate.PauliZ">
      </ElementaryQuantumGate>
   </extension>
   <extension
         id="CompositeQuantumGates"
         point="at.jku.se.quantum.operation">
      <CompositeBlock
            Name="Oracle"
            class="at.jku.se.quantum.operation.contribution.compositequantumgate.Oracle">
      </CompositeBlock>
      <CompositeBlock
            Name="Amplification"
            class="at.jku.se.quantum.operation.contribution.compositequantumgate.Amplification">
      </CompositeBlock>
      <CompositeBlock
            Name="Initialize"
            class="at.jku.se.quantum.operation.contribution.compositequantumgate.Initialize">
      </CompositeBlock>
      <CompositeBlock
            Name="Grover"
            class="at.jku.se.quantum.operation.contribution.compositequantumgate.Grover">
      </CompositeBlock>
      <CompositeBlock
            Name="QFTInv"
            class="at.jku.se.quantum.operation.contribution.compositequantumgate.QFTInv">
      </CompositeBlock>
   </extension>
   <extension
         id="StatePreparationQuantumGates"
         point="at.jku.se.quantum.operation">
      <StatePreparation
            Name="Reset"
            class="at.jku.se.quantum.operation.contribution.statepreparation.Reset"></StatePreparation>
   </extension>
   <extension
         id="MeasurementQuantumGates"
         point="at.jku.se.quantum.operation">
      <Measurement
            Name="MeasurementCompBasis"
            class="at.jku.se.quantum.operation.contribution.measurement.MeasurementCompBasis">
      </Measurement>
   </extension>
</plugin>
